# Node modules
node_modules/

# Logs
logs
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment files
.env
.env.*.local

# Build output
dist/
build/
