# Ignore dependencies
**/node_modules/
.next/
.vscode/
# Ignore build outputs
frontend-refactor/.next/
frontend-refactor/out/

# Logs
logs/
*.log

# Environment files
*.env
inventario-frontend-original.txt

*storybook.log
storybook-static
frontend-refactor/tsconfig.tsbuildinfo
frontend-refact/